{% extends 'users/base.html' %}
{% load static %}

<!--Блог титров-->
{% block title %}
Галерея пользователя
{% endblock %}

<!--Блог Шапки-->
{% block header %}
<div class="logo">Галерея пользователя {{ user.last_name }}</div>
<!-- Кнопки навигации -->
{% include 'includes/buttons_header.html' %}
{% endblock %}


{% block left_panel %}

{% include 'includes/left_panel.html' %}

{% endblock %}

{% block content %}
<!-- Контент страницы -->
{{ object }}
<!--    Ссылка на блок User-->
{% include 'includes/gall_detail_user.html' %}
{% endblock content %}
