{% extends 'users/base.html' %}
{% load static %}

<!--Блог титров-->
{% block title %}
Анкета пользователя: {{ profile_user.username }}
{% endblock %}

<!--Блог Шапки-->
{% block header %}
<div class="logo">Анкета пользователя: {{ profile_user.username }}</div>
<!-- Кнопки навигации -->
{% include 'includes/buttons_header.html' %}
{% endblock %}

{% block left_panel %}
<!--Левая панель-->
{% include 'includes/left_panel.html' %}

{% endblock %}

{% block content %}
<!-- Контент страницы -->
{{ object }}
<!--    Ссылка на блок User_edit-->
{% include 'includes/user_edit.html' %}
{% endblock content %}
